:root {
    --color1: #27304d;
    --color2: #354573;
    --color3: #c51142;
    --color4: #e2205a;
    --color5: #025951;
    --color6: #007469;
    --colorBlanco: #fff;
    --fondo: #f2f6fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.headerPrincilpal{
    position: sticky;
    top: 0;
    z-index: 10;
}

.logoNavBar{
    width: 50px;
    height: 50px;
}