:root {
    --color-01: #a21226;
    --color-02: #cf112b;
    --color-03: #23428a;
    --color-04:#2349aa;
    --color-05: #144d4d;
    --color-06: #125959;
    --color-07: #fddb00;
    --color-08: #ffeb0d;
    --color-fondo: #f0f7fe;
    --color-blanco: #fff;
    --color-negro: #000;
}

.bgColorFondo{
    background-color: var(--color-fondo);
}

.bgInput {
    border: 1.8px solid var(--color-03);
}

.bgInput:focus {
    border: 2px solid var(--color-03);
    box-shadow: 0 0 0 0.2rem var(--color-03);
}

.bgColorPrincipal {
    background-color: var(--color-01);
}

.bgColorSecundario {
    background-color: var(--color-03);
}

.btnPersonalizado1 {
    background-color: var(--color-01);
    color: var(--color-blanco);
}

.btnPersonalizado1:hover {
    background-color: var(--color-02);
    color: var(--color-blanco);
}

.btnPersonalizado1:focus {
    background-color: var(--color-02);
    color: var(--color-blanco);
}

.btnPersonalizado2 {
    background-color: var(--color-03);
    color: var(--color-blanco);
}

.btnPersonalizado2:hover {
    background-color: var(--color-04);
    color: var(--color-blanco);
}

.btnPersonalizado2:focus {
    background-color: var(--color-04);
    color: var(--color-blanco);
}

.btnPersonalizado3 {
    background-color: var(--color-05);
    color: var(--color-blanco);
}

.btnPersonalizado3:hover {
    background-color: var(--color-06);
    color: var(--color-blanco);
}

.btnPersonalizado3:focus {
    background-color: var(--color-06);
    color: var(--color-blanco);
}

.btnPersonalizado4 {
    background-color: var(--color-07);
    color: var(--color-blanco);
}

.btnPersonalizado4:hover {
    background-color: var(--color-08);
    color: var(--color-blanco);
}

.btnPersonalizado4:focus {
    background-color: var(--color-08);
    color: var(--color-blanco);
}

.headerPrincipal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 5px 10px;
    margin: 0;
    background-color: var(--color-01);
    color: var(--color-blanco);
}

.headerPrincipal .contenedorLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorLogo .logoImage{
    width: 85px;
    height: 85px;
    clip-path: circle();
}

.contenedorLogo .logoTexto{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 5px;
}

.logoTexto .logoTitulo{
    font-size: 24px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.logoTexto .bottonVerMas{
    margin-top: 5px;
    display: none;
}

.headerPrincipal .contenedorBotonComprar{
    display: none;
}

.headerPrincipal .navPrincipal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navPrincipal .datos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-left: 1px solid var(--color-fondo);
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    font-weight: 600;
}

.datos .datoLogo{
    font-size: 16px;
}

.navPrincipal .datosRedes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid var(--color-fondo);
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    font-weight: 600;
}

.datosRedes .redesTexto{
    font-size: 16px;
}

.datosRedes .redesNavContenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redesNavContenedor .redSocial{
    font-size: 24px;
    color: var(--color-01);
    background-color: var(--color-blanco);
    padding: 7px;
    margin-left: 7px;
    clip-path: circle();
}

@media (max-width: 1349px) {
    .navPrincipal {
        display: none !important;
    }

    .contenedorLogo .logoTexto{
        margin-left: 15px;
    }

    .headerPrincipal .contenedorBotonComprar{
        display: block;
    }

    .logoTexto .bottonVerMas{
        display: block;
    }
}

@media (max-width: 590px) {
    .contenedorLogo .logoImage{
        width: 65px;
        height: 65px;
    }

    .logoTexto .logoTitulo{
        font-size: 16px;
    }

    .logoTexto .bottonVerMas{
        font-size: 16px !important;
    }
}

@media (max-width: 479px) {
    .headerPrincipal .contenedorBotonComprar{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        justify-content: space-between;
        font-size: 16px !important;
    }
}